In [1]:
import pandas as pd

In [2]:
full_df = pd.read_csv('fulldataset.csv')

In [3]:
full_df.head()

  scientific_name    en_name        lat        lon
0        Sapindus  Soapberry  30.228193 -97.757248
1          Allium      Onion  30.327974 -97.758644
2          Allium      Onion  30.249392 -97.713647
3          Allium      Onion  30.446912 -97.757219
4          Allium      Onion  30.288013 -97.763354

In [25]:
juglandacae_df = full_df[(full_df['en_name'] == 'Walnut') | (full_df['en_name'] == 'Pecan') | (full_df['en_name'] == 'Hickory')]

In [26]:
juglandacae_df.head()

         scientific_name en_name        lat        lon
113  Carya illinoinensis   Pecan  30.224958 -97.751884
114  Carya illinoinensis   Pecan  30.242811 -97.749863
115  Carya illinoinensis   Pecan  30.257641 -97.753250
116  Carya illinoinensis   Pecan  30.264034 -97.696658
117  Carya illinoinensis   Pecan  30.258724 -97.705455

In [30]:
other_df = full_df[(full_df['en_name'] != 'Walnut') & (full_df['en_name'] != 'Pecan') & (full_df['en_name'] != 'Hickory')]

In [31]:
other_df.head()

  scientific_name    en_name        lat        lon
0        Sapindus  Soapberry  30.228193 -97.757248
1          Allium      Onion  30.327974 -97.758644
2          Allium      Onion  30.249392 -97.713647
3          Allium      Onion  30.446912 -97.757219
4          Allium      Onion  30.288013 -97.763354

In [44]:
import numpy as np
distance_ft = np.random.uniform(low=0.00, high=1000.00, size = len(other_df['scientific_name']))
other_df['distance_ft'] = distance_ft

C:\Users\ukhakoo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [45]:
juglandacae = []
resistance = []
for index, row in other_df.iterrows():
    if index%2 == 0:
        juglandacae.append('Juglans')
    else:
        juglandacae.append('Carya')
    if row['distance_ft'] <= 50.00:
        resistance.append(1)
    else:
        resistance.append(0)

In [46]:
other_df['juglandacae'] = juglandacae
other_df['resistance'] = resistance

C:\Users\ukhakoo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\ukhakoo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [52]:
other_df.head()

,scientific_name,en_name,lat,lon,juglandacae,distance_df,distance_ft,resistance
0,Sapindus,Soapberry,30.228193,-97.757248,Juglans,508.368463,820.831060,0
1,Allium,Onion,30.327974,-97.758644,Carya,343.223112,287.732482,0
2,Allium,Onion,30.249392,-97.713647,Juglans,539.657157,691.125887,0
3,Allium,Onion,30.446912,-97.757219,Carya,66.025112,179.340274,0
4,Allium,Onion,30.288013,-97.763354,Juglans,25.247945,128.337027,0

In [53]:
machinelearning_df = other_df[['scientific_name', 'distance_ft', 'juglandacae', 'resistance']]

In [54]:
machinelearning_df.to_csv('dummydata.csv')