In [1]:
import pandas as pd

In [2]:
full_df = pd.read_csv('fulldataset.csv')

In [3]:
full_df.head()

  scientific_name    en_name        lat        lon
0        Sapindus  Soapberry  30.228193 -97.757248
1          Allium      Onion  30.327974 -97.758644
2          Allium      Onion  30.249392 -97.713647
3          Allium      Onion  30.446912 -97.757219
4          Allium      Onion  30.288013 -97.763354

In [7]:
juglandacae_df = full_df[full_df['scientific_name'].str.startswith('Juglans') | full_df['scientific_name'].str.startswith('Carya')]

In [8]:
juglandacae_df.head()

         scientific_name en_name        lat        lon
113  Carya illinoinensis   Pecan  30.224958 -97.751884
114  Carya illinoinensis   Pecan  30.242811 -97.749863
115  Carya illinoinensis   Pecan  30.257641 -97.753250
116  Carya illinoinensis   Pecan  30.264034 -97.696658
117  Carya illinoinensis   Pecan  30.258724 -97.705455