In [1]:
import pandas as pd

In [2]:
#Falling Fruit Data from:
#https://www.fallingfruit.org/data?c=forager%2Cfreegan&locale=en
#used BZ2 to ZIP converter https://cloudconvert.com/bz2-to-zip

In [3]:
#import types data
types_df = pd.read_csv('Resources/types.csv')

In [4]:
#there are dumpsters listed on there and we don't want those
types_df = types_df[types_df['en_name'] != 'Dumpster (edible)']

In [5]:
##select fewer columns
types_df = types_df[['id', 'parent_id', 'scientific_name', 'en_name', 'en_wikipedia_url']]
types_df = types_df.rename(columns={'id': 'type_ids'})
types_df.dropna()

,type_ids,parent_id,scientific_name,en_name,en_wikipedia_url
0,1,285.0,Prunus,Plum,http://en.wikipedia.org/wiki/Plum
2,3,263.0,Citrus x sinensis,Orange,http://en.wikipedia.org/wiki/Citrus_sinensis
3,4,263.0,Citrus x limon,Lemon,http://en.wikipedia.org/wiki/Citrus_limon
4,5,263.0,Citrus x paradisi,Grapefruit,http://en.wikipedia.org/wiki/Citrus_paradisi
9,11,263.0,Citrus maxima,Pomelo,http://en.wikipedia.org/wiki/Citrus_maxima
12,14,114.0,Malus pumila,Apple,http://en.wikipedia.org/wiki/Malus_domestica
17,19,263.0,Citrus japonica,Kumquat,http://en.wikipedia.org/wiki/Citrus_japonica
18,20,445.0,Ficus carica,Common fig,http://en.wikipedia.org/wiki/Ficus_carica
19,23,263.0,Citrus reticulata,Mandarin,http://en.wikipedia.org/wiki/Mandarin_orange
21,25,1387.0,Citrus medica var. sarcodactyli,Buddha's hand,http://en.wikipedia.org/wiki/Buddha%27s_hand
22,26,263.0,Citrus,Lime,http://en.wikipedia.org/wiki/Lime_(fruit)
23,27,263.0,Citrus x meyeri,Meyer lemon,http://en.wikipedia.org/wiki/Citrus_meyeri
24,48,2523.0,Rubus,Blackberry,http://en.wikipedia.org/wiki/Blackberry
26,50,3190.0,Brassica oleracea var. acephala,Kale,http://en.wikipedia.org/wiki/Kale
28,52,2516.0,Prunus persica,Peach,http://en.wikipedia.org/wiki/Prunus_persica
29,54,285.0,Prunus persica var. nucipersica,Nectarine,http://en.wikipedia.org/wiki/Nectarine#Nectarines
32,57,870.0,Claytonia perfoliata,Miner's lettuce,http://en.wikipedia.org/wiki/Claytonia_perfoliata
33,58,76.0,Psidium cattleyanum,Strawberry guava,http://en.wikipedia.org/wiki/Psidium_cattleianum
35,60,3227.0,Arbutus unedo,Strawberry tree,http://en.wikipedia.org/wiki/Arbutus_unedo
37,62,285.0,Prunus,Cherry,http://en.wikipedia.org/wiki/Cherry
43,68,2516.0,Prunus amygdalus,Almond,http://en.wikipedia.org/wiki/Prunus_amygdalus
46,71,1108.0,Pistacia vera,Pistachio,http://en.wikipedia.org/wiki/Pistacia_vera
54,79,285.0,Prunus armeniaca,Apricot,http://en.wikipedia.org/wiki/Prunus_armeniaca
55,81,263.0,Citrus x aurantium,Bitter orange,http://en.wikipedia.org/wiki/Citrus_aurantium
57,83,1174.0,Arctostaphylos,Manzanita,http://en.wikipedia.org/wiki/Manzanita
61,88,2547.0,Vaccinium,Blueberry,http://en.wikipedia.org/wiki/Blueberry
65,93,144.0,Carya illinoinensis,Pecan,http://en.wikipedia.org/wiki/Carya_illinoinensis
68,96,92.0,Morus nigra,Black mulberry,http://en.wikipedia.org/wiki/Morus_nigra
69,97,92.0,Morus alba,White mulberry,http://en.wikipedia.org/wiki/Morus_alba
70,98,2523.0,Rubus,Dewberry,http://en.wikipedia.org/wiki/Dewberry
...,...,...,...,...,...
2521,4163,12.0,Diospyros nigra,Black sapote,https://en.wikipedia.org/wiki/Diospyros_nigra
2523,4165,2140.0,Garcinia madruno,Charichuelo,https://en.wikipedia.org/wiki/Garcinia_madruno
2524,4166,2140.0,Garcinia humilis,Achacha,https://en.wikipedia.org/wiki/Garcinia_humilis
2526,4202,286.0,Pyrus communis 'Conference',European pear,https://en.wikipedia.org/wiki/Conference_pear
2535,4234,121.0,Prunus cerasus 'Evans',Evans cherry,https://en.wikipedia.org/wiki/Evans_Cherry
2538,4253,106.0,Ribes missouriense,Missouri gooseberry,https://en.wikipedia.org/wiki/Ribes_missouriense
2544,4344,106.0,Ribes hirtellum,American gooseberry,https://en.wikipedia.org/wiki/Ribes_hirtellum
2555,4366,340.0,Cercis chinensis,Chinese redbud,https://en.wikipedia.org/wiki/Cercis_chinensis
2574,4385,72.0,Quercus salicifolia,Willow-leaved oak,https://en.wikipedia.org/wiki/Quercus_salicifolia
2585,4396,2500.0,Ligustrum japonicum,Japanese privet,https://en.wikipedia.org/wiki/Ligustrum_japonicum
2594,4405,15.0,Pyrus nivalis,Snow pear,https://en.wikipedia.org/wiki/Pyrus_nivalis
2613,4424,2649.0,Zelkova carpinifolia,Caucasian zelkova,https://en.wikipedia.org/wiki/Zelkova_carpinif...
2620,4431,2379.0,Chamaecyparis formosensis,Formosan cypress,https://en.wikipedia.org/wiki/Chamaecyparis_fo...
2623,4434,72.0,Quercus myrsinifolia,Bamboo-leaf oak,https://en.wikipedia.org/wiki/Quercus_myrsinif...
2631,4442,72.0,Quercus variabilis,Chinese cork oak,https://en.wikipedia.org/wiki/Quercus_variabilis
2666,4479,360.0,Lonicera fragrantissima,Winter honeysuckle,https://en.wikipedia.org/wiki/Lonicera_fragran...
2670,4483,2500.0,Ligustrum sinense,Chinese privet,https://en.wikipedia.org/wiki/Ligustrum_sinense
2692,4505,175.0,Acer heldreichii,Heldreich's maple,https://en.wikipedia.org/wiki/Acer_heldreichii
2693,4506,15.0,Pyrus amygdaliformis,Almond-leaved pear,https://en.wikipedia.org/wiki/Pyrus_amygdalifo...
2700,4513,3102.0,Acer davidii subsp. grosseri,Hers's maple,https://en.wikipedia.org/wiki/Acer_davidii
2702,4515,872.0,Salix triandra,Almond-leaved willow,https://en.wikipedia.org/wiki/Salix_triandra
2721,4534,15.0,Pyrus elaeagnifolia,Oleaster-leaved pear,https://en.wikipedia.org/wiki/Pyrus_elaeagrifolia
2746,4559,2674.0,Prunus x schmittii,Schmitt's cherry,https://en.wikipedia.org/wiki/Prunus_%C3%97_sc...
2751,4564,175.0,Acer maximowiczianum,Nikko maple,https://en.wikipedia.org/wiki/Acer_maximowiczi...
2767,4591,68.0,Prunus amygdalus var. amara,Bitter almond,https://en.wikipedia.org/wiki/Almond#Sweet_and...
2807,4702,263.0,Citrus jambhiri,Rough lemon,https://en.wikipedia.org/wiki/Rough_lemon
2808,4725,263.0,Citrus x pyriformis,Ponderosa lemon,https://en.wikipedia.org/wiki/Ponderosa_lemon
2812,4766,380.0,Syzygium luehmannii,Riberry,https://en.wikipedia.org/wiki/Syzygium_luehmannii
2814,4769,296.0,Prunus avium 'Rainier',Rainier cherry,https://en.wikipedia.org/wiki/Rainier_cherry
2815,4783,762.0,Satureja montana,Winter savory,https://en.wikipedia.org/wiki/Winter_savory

In [6]:
#change type for merge
types_df['type_ids'] = types_df['type_ids'].astype('str')

In [7]:
#this file is huge, with data for the entire world
locations_df = pd.read_csv('Resources/locations.csv', low_memory=False)

In [8]:
#select necessary columns
locations_df = locations_df[['id', 'type_ids', 'lat', 'lng']]
#get latitude and longitude
locations_df = locations_df.rename(columns={'lng': 'lon'})
# Drop na values
locations_df.dropna()
locations_df.head()

   id type_ids        lat         lon
0  22        3  37.409849 -122.137529
1  23        8  37.412087 -122.140182
2  24        4  37.412043 -122.139700
3  25        3  37.411562 -122.139288
4  26        4  37.411252 -122.138862

In [9]:
# Initial limit of Austin, TX dataset: NW 30.308660, -97.756688 and SE 30.261570, -97.736784
# Limits of final dataset should include all of Austin: NW 30.529060, -97.788274 and SE 30.030380, -97.668365

In [10]:
# Latitude filter
tst_locations_df = locations_df[locations_df['lat'].between(30.030380, 30.529060, inclusive=True)]

# Longitude filter
tst_locations_df = tst_locations_df[locations_df['lon'].between(-97.788274, -97.668365, inclusive=True)]

C:\Users\abracho\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

In [11]:
tst_locations_df.count()

id          23192
type_ids    23191
lat         23192
lon         23192
dtype: int64

In [12]:
test_df = tst_locations_df.merge(types_df, how='inner', on='type_ids')
del test_df['id']
del test_df['type_ids']
del test_df['parent_id']
del test_df['en_wikipedia_url']
test_df['en_name']
test_df.set_index('scientific_name', inplace=True)

In [13]:
test_df = test_df[['en_name', 'lat', 'lon']]
test_df.head()

                   en_name        lat        lon
scientific_name
Sapindus         Soapberry  30.228193 -97.757248
Allium               Onion  30.327974 -97.758644
Allium               Onion  30.249392 -97.713647
Allium               Onion  30.446912 -97.757219
Allium               Onion  30.288013 -97.763354

In [14]:
pecandf = test_df.loc[test_df['en_name'] == 'Pecan']
pecandf.head()

                    en_name        lat        lon
scientific_name
Carya illinoinensis   Pecan  30.224958 -97.751884
Carya illinoinensis   Pecan  30.242811 -97.749863
Carya illinoinensis   Pecan  30.257641 -97.753250
Carya illinoinensis   Pecan  30.264034 -97.696658
Carya illinoinensis   Pecan  30.258724 -97.705455

In [15]:
nonpecandf = test_df.loc[test_df['en_name'] != 'Pecan']
nonpecandf.head()

                   en_name        lat        lon
scientific_name
Sapindus         Soapberry  30.228193 -97.757248
Allium               Onion  30.327974 -97.758644
Allium               Onion  30.249392 -97.713647
Allium               Onion  30.446912 -97.757219
Allium               Onion  30.288013 -97.763354

In [16]:
test_df.to_csv('fulldataset.csv')
pecandf.to_csv('pecandataset.csv')
nonpecandf.to_csv('nonpecandataset.csv')

In [77]:
import math

def haversine(coord1,coord2,coord3,coord4):
    
        lon1,lat1=coord1,coord2
        lon2,lat2=coord3,coord4

        R=6371000                               # radius of Earth in meters
        phi_1=math.radians(lat1)
        phi_2=math.radians(lat2)

        delta_phi=math.radians(lat2-lat1)
        delta_lambda=math.radians(lon2-lon1)

        a=math.sin(delta_phi/2.0)**2+\
           math.cos(phi_1)*math.cos(phi_2)*\
           math.sin(delta_lambda/2.0)**2
        c=2*math.atan2(math.sqrt(a),math.sqrt(1-a))

        meters=R*c                         # output distance in meters
        km=meters/1000.0              # output distance in kilometers
        miles=meters*0.000621371      # output distance in miles
        feet=miles*5280               # output distance in feet
        
        return feet

In [80]:
import numpy as np

In [82]:
lon_1 = -97.788274
lat_1 = 30.529060
lon_2 = -97.668365
lat_2 = 30.030380

vect_len = 10 ** 6

In [87]:
LON_1 = np.array([lon_1 for _ in range(vect_len)])
LAT_1 = np.array([lat_1 for _ in range(vect_len)])

LON_2 = np.array([lon_2 for _ in range(vect_len)])
LAT_2 = np.array([lat_2 for _ in range(vect_len)])

In [90]:
%%timeit
haversine_v = np.vectorize(haversine)

3.47 µs ± 174 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [89]:

haversine_v(LON_1, LAT_1, LON_2, LAT_2)

array([185805.44461884, 185805.44461884, 185805.44461884, ...,
       185805.44461884, 185805.44461884, 185805.44461884])

In [86]:
LONG_1.shape

(1000000,)

In [78]:
%%timeit

for i in range(0, 1_000_000):
    haversine(-97.788274,30.529060,-97.668365,30.030380)

3.88 s ± 338 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
result = []
for index, row in df.iterrows():
    result.append(row['date'])
    result.append(calc_funct(row['x'], row['y'], row['z']))
print result