# Scrape www.mortonarb.org for Common & Scientific Names

In [1]:
# import libraries
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import pymongo
from splinter import Browser

## Scrape for Data

In [2]:
# launch chrome driver
executable_path = {'executable_path': '/Users/prettyvo/Desktop/chromedriver'}
browser = Browser('chrome', **executable_path, headless=True)

In [3]:
# connect browser to url and parse data images of the titles and summaries
juglone_url = "https://www.mortonarb.org/trees-plants/tree-and-plant-advice/horticulture-care/plants-tolerant-black-walnut-toxicity"
browser.visit(juglone_url)
html = browser.html
site = BeautifulSoup(html, 'html.parser')

In [59]:
# pull main column
main_column = site.find_all('div', class_='field-item even')

# create empty list to append to 
p_sets = []

# find all p tags in the column
for tag in main_column:
    p_sets.append(tag.find_all('p'))
    
# select first tag which holds the desired table
main_p_tag = p_sets[0]

# pull text from the table
text = [p_tag.text for p_tag in main_p_tag]

# splice list to desired data
table = text[17:]

## Clean Single Data

In [70]:
# clean the data for a single set 
test_data = table[0]
test_data_split = test_data.split('\xa0')

# create lists to hold names
common_name = []
scientific_name = []

# add to list
common_name.append(test_data_split[0])

# loop through the data 
for i in range(1,len(test_data_split)):
    if (test_data_split[i] != " " and test_data_split[i] != ""):
        scientific_name.append(test_data_split[i])
print(common_name)
print(scientific_name)

## Apply to Entire Data Set

In [120]:
# create lists to hold names
common_name = []
scientific_name = []

# loop over the data
for data in table:
    test_data_split = data.split('\xa0')

    # add to list
    if (test_data_split[0] != "" and test_data_split[0] != " "):
        first_in_list = test_data_split[0]
        if first_in_list.isupper() == False:
            common_name.append(test_data_split[0])

    # loop through the data 
    for i in range(1,len(test_data_split)):
        if (test_data_split[i] != " " and test_data_split[i] != ""):
            scientific_name.append(test_data_split[i])
            break

## Create DataFrame

In [123]:
# create dataframe
df = pd.DataFrame()
df['common_name'] = common_name
df['scientific_name'] = scientific_name
df.head()

       common_name       scientific_name
0       Box elder           Acer negundo
1  Japanese maple   Acer palmatum & cvs.
2        Red maple           Acer rubrum
3      Sugar maple        Acer saccharum
4     Ohio buckeye       Aesculus glabra

## Save to a DataBase

In [124]:
# Import Dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func, inspect, Table, Column, Integer, String, MetaData

In [125]:
db_uri = 'sqlite:///../db/common_scientific_names.db'
engine = create_engine(db_uri, echo=False)
conn = engine.connect()

In [126]:
df.to_sql('common_scientific_names', con=engine, if_exists='replace')

In [128]:
df_from_db = pd.read_sql_table('common_scientific_names',conn, index_col='index')

In [129]:
df_from_db.head()

           common_name       scientific_name
index
0           Box elder           Acer negundo
1      Japanese maple   Acer palmatum & cvs.
2            Red maple           Acer rubrum
3          Sugar maple        Acer saccharum
4         Ohio buckeye       Aesculus glabra